body {
	color: #555;
	background-color: #efefef;
}

.jumbotron {
	background-color: #fff;
	font-size: 20px;
	margin-top: 30px;
}

.jumbotron h2 {
	font-size: 30px;
	margin-top: -30px;
}

.welcome-jumbotron h1 {
	margin-bottom: 60px;
}

.welcome-jumbotron p {
	margin-bottom: 60px;
	font-size: 30px;
}

.radio {
	margin-top: 25px;
}

.btn {
	margin-top: 50px;
	margin-bottom: -30px;
}

.main-header {
	background-color: #0e4204;
	color: white;
}

.img {
	margin-bottom: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 450px;
}

footer.fixar-rodape {
  border-top: 1px solid #888;
  bottom: 0;
  left: 0;
  height: 40px;
  position: fixed;
  width: 100%;
  text-align: center;
}

ul {
	margin-top: 30px !important;
}