<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>EventosApp</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link type="text/css" rel="stylesheet"
	href="bootstrap/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="style/estilo.css">

</head>

<body>

	<header class="main-header">
		<nav class="navbar navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<h2>Sistema Especialista para Frutas e Objetos</h2>
				</div>

			</div>
		</nav>
	</header>

	<div class="content-wrapper">
		<div class="container">

			<div class="jumbotron">
				<div class="text-center">
					<h2 th:text="${atributo.resultadoFinal}"></h2>

					<img th:src="@{${pathImg}}" class="img-responsive img" />

					<a href="/"><p>Clique aqui para reiniciar</p></a>
				</div>
			</div>
		</div>
	</div>

	<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>